<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

    <title>{{ title }}</title>  
    <link rel="stylesheet" href="/css/post.css" /> 
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div class="header">
        <div class="home">
            <a href="/index.html">🌱 danielweber</a>
        </div>
        <div class="title">
                <a>{{ title }}</a>
        </div>
    </div>

    <div class="prispevek">
        <div class="prispevek__fotka">
            <div class="image__container">
            <img src="{{ image }}" alt="{{ imageAlt }}" class="post__feed">
            </div>
        </div>
        <div class="prispevek__uvod">
            <div class="tags__post">
            {% for tag in tags %}
                <button class="tag"><a href="/tag/{{ tag | slugify }}">#{{ tag }}</a></button>
            {% endfor %}
            </div>
            <p class="title"> {{ uvod }} </p>
        </div>
    </div>   

    <div class="prispevek__container">
        <div class="prispevek__obsah">
        {{ content | safe }}
        </div>
    </div>
</body>
</html>