---
pagination:
    data: collections
    size: 1
    alias: tag
    addAllPagesToCollections: true
layout: layout/base.html
permalink: /tag/{{ tag | slugify }}/index.html
eleventyComputed: 
    title: danielweber/{{ tag }}
---

<!-- kopie z hlavni stranky -->

<div class="main-page">
    
    <div class="header">
        <div class="home">
            <a href="/index.html">🌱 danielweber</a>
        </div>
    </div>

    <div class="main-page-content">
        <div class="info">
            <div class="post">
                <p class="post">
                    Ahoj, ja jsem Daniel. Studuju na FaVU a jsem součástí <button class="link"><a href="https://paper.dropbox.com/doc/agdx.info--CWWY9YW7ivMxko4hHg_YNHxPAg-5O5sBLYwdxcDV28os9iuM" class="link" target="_blank">AGDX</a></button>. Jedním z mých velkých projektů je <button class="link"><a href="https://humanoddity.cz/" class="link" target="_blank">HUMANODDITY</a></button>, přes který zkoumám <button class="tag"><a href="tag/design">#DESIGN</a></button>, <button class="tag"><a href="tag/moda">#MÓDU</a></button> a <button class="tag"><a href="tag/udrzitelnost">#UDRŽITELNOST</a></button>. 
                    Tento web je můj research a experiment s tvorbou mého místa na internetu, které není vázané na velké korporace (META, tiktok, …) a které má co nejmenší environmentální dopad. 
                    Mimo to rád čtu tyhle <button class="tag"><a href="/tag/knihy" >#KNIHY</a></button> a poslouchám nebo tvořím <button class="link">ZVUKY</button>. 
                </p>
            </div>
            <div class="post"><p class="post">všechna témata:</p>
                <div class="tags">
                    {% for tag in collections.allTags %}
                        <button class="tag"><a href="/tag/{{ tag | slugify }}" >#{{ tag }}</a></button>
                    {% endfor %}
                </div>
            </div>
            <div class="post">
                <p class="post">
                💨 načtení této stranky vytvořilo ekvivalent 0,045g CO2
                </p>
            </div>
            <div class="post">
                <p class="post">
                moje <button class="link"><a href="https://www.are.na/daniel-weber-ybsgvbdwtz4/index" target="_blank">ARE.NA</a></button>
                </p>
            </div>
       
    </div>

    <div class="feed">
        <div class="post">
            <p class="post">všechny příspěvky v kategorii <a class="tag">#{{ tag }}</a>:</p>
        </div>
        {% for post in collections[tag] | reverse %}
            <div class="post">
                <div class="image__container">
                    <a href="{{ post.url }}">
                    <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" class="post__feed">
                    </a>
                </div>
                <br>
                <a href="{{post.url}}" class="title"> {{ post.data.title }} </a>
                <div class="tags">
                    {% for tag in post.data.tags %}
                        <a href="/tag/{{ tag | slugify }}" class="tag">#{{ tag }}</a>
                    {% endfor %}
                </div>
            
            </div>
        {% endfor %}
        
    </div>
</div>